@import "src/assets/styles/variables/variables";

.category {

  h2 {
    color: $category-header-font-color;
  }

  .category-col {
    width: fit-content;

    .category-item {
      cursor: pointer;
      border-radius: 10px;
      padding: 10px;
      width: 180px;
      height: 180px;
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;

      .card-img {
        width: 80%;
        height: auto;
        padding: 10px;
        object-fit: contain;
      }
    }

    .active-item {
      background-color: red !important;
    }
  }
  .card:hover {
    background-color: #a7ee75;
  }

  @media (max-width: $lg-screen-size) {
    .category-item {
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      justify-items: center;
      align-items: center;

      .card-img {
        max-width: 100% !important;
        padding-bottom: 5px;
      }
    }
  }
  @media (max-width: $md-screen-size) {
    .category-item {
      height: 110px !important;
      display: flex;
      flex-direction: column !important;
      justify-content: center;
      justify-items: center;
      align-items: center;

      .card-title {
        font-size: 9px !important;
        display: block !important;
      }

      .card-img {
        width: 100% !important;
        padding: 0 !important;
      }
    }
  }
  @media (max-width: $xs-screen-size) {
    .category-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;


      .card-title {
        font-size: large;
        font-weight: bold;
        width: 100%;
      }

      .card-img {
        width: 100px;
      }
    }
  }
}




